body {
  font-family: "Times New Roman";
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


.page-wrapper {
  padding: 50px;
}

/* new  */
.sv_main .maine-state-content .nav-header {
    margin-bottom: 40px;
}
.sv_main .maine-state-content .nav-header-title {
    font-size: 1.45em;
}
.sv_main .maine-state-content .form-title {
    font-size: 1.2em;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
    text-decoration-line: underline;
    margin-bottom: 15px;
}
.sv_main .section-divider-line{
  position: relative;
  border-bottom: 2px solid #000;
}
.sv_main .section-divider-line::before {
    position: absolute;
    content: '';
    top: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(175, 171, 171, 0.75);
}
.sv_main .section-divider-line::after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}
.sv_main .p1-bottom-divider{
  position: relative;
}
.sv_main .p1-bottom-divider::before {
    position: absolute;
    content: '';
    top: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(175, 171, 171, 0.75);
}
.sv_main .p1-bottom-divider::after {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(175, 171, 171, 0.75);
}
.sv_main .blankbox-150{
  width: 100%;
  height: 150px;
}
.sv_main .blankbox-500{
  width: 100%;
  height: 500px;
}

.sv_main .w-25 {
  width: 25% !important;
}

.sv_main .lh-130 {
  line-height: 1.30;
}
.sv_main .dark-red{
  color: #a90000;
}
.sv_main .red{
  color: red;
}
.sv_main input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.sv_main input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.sv_main .text-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}
.sv_main .border-bottom-2{
  border-bottom: 2px solid #000;
}
.sv_main .border-bottom-gray{
  border-bottom: 2px solid rgba(175, 171, 171, 0.75);
}
.sv_main .custom-ml-50 {
  margin-left: 50px !important;
}
.sv_main .custom-ml-100 {
  margin-left: 100px !important;
}
.sv_main .custom-mb-35{
  margin-bottom: 35px!important;
}
.sv_main .flex-start {
    align-items: flex-start!important;
}
.sv_main .align-i-center {
  align-items: center !important;
}
.sv_main .justify-content-end {
  justify-content: flex-end;
}

.sv_main .custom-form-control::placeholder {
  color: #000;
}

/*End new  */




/* For html page layout not neccessary for survey js form  */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
.col-md-1 { flex: 0 0 auto; width: 8.33333333%; }
.col-md-2 { flex: 0 0 auto; width: 16.66666667%; }
.col-md-3 { flex: 0 0 auto; width: 25%; }
.col-md-4 { flex: 0 0 auto; width: 33.33333333%; }
.col-md-5 { flex: 0 0 auto; width: 41.66666667%; }
.col-md-6 { flex: 0 0 auto; width: 50%; }
.col-md-7 { flex: 0 0 auto; width: 58.33333333%; }
.col-md-8 { flex: 0 0 auto; width: 66.66666667%; }
.col-md-9 { flex: 0 0 auto; width: 75%; }
.col-md-10 { flex: 0 0 auto; width: 83.33333333%; }
.col-md-11 { flex: 0 0 auto; width: 91.66666667%; }
.col-md-12 { flex: 0 0 auto; width: 100%; }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 862px;
    padding: 0 50px;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container {
    width: 1000px;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

.col-md-1 { flex: 0 0 auto; width: 8.33333333%; }
.col-md-2 { flex: 0 0 auto; width: 16.66666667%; }
.col-md-3 { flex: 0 0 auto; width: 25%; }
.col-md-4 { flex: 0 0 auto; width: 33.33333333%; }
.col-md-5 { flex: 0 0 auto; width: 41.66666667%; }
.col-md-6 { flex: 0 0 auto; width: 50%; }
.col-md-7 { flex: 0 0 auto; width: 58.33333333%; }
.col-md-8 { flex: 0 0 auto; width: 66.66666667%; }
.col-md-9 { flex: 0 0 auto; width: 75%; }
.col-md-10 { flex: 0 0 auto; width: 83.33333333%; }
.col-md-11 { flex: 0 0 auto; width: 91.66666667%; }
.col-md-12 { flex: 0 0 auto; width: 100%; }

}



