body {
  font-family: "Times New Roman";
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


.page-wrapper {
  padding: 50px;
}

/* new  */
.sv_main .ny-dfs-content .form-title {
  font-size: 1.25em;
  text-align: center;
}

.sv_main .border-form {
  border: 2px solid #000;
}

.sv_main .form-group {
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
}

.sv_main .border-right {
  border-right: 2px solid #000;
}

.sv_main .border-bottom-2 {
  border-bottom: 2px solid #000 !important;
}

.sv_main .py-6 {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.sv_main .wr-40 {
  width: 40px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.sv_main .wr-60 {
  width: 60px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.sv_main .wr-110 {
    width: 110px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.sv_main .wr-150 {
    width: 150px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.sv_main .radio-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.sv_main .radio-group label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.sv_main .form-group-2x {
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  height: 80px;
}

.sv_main .h-55 {
  height: 55px;
}
.sv_main .h-58{
  height: 58px;
}
.sv_main .h-60{
  height: 60px;
}
.sv_main .h-100{
  height: 100%;
  box-sizing: border-box;
}
.sv_main .h-auto {
  height: auto !important;
}

.sv_main .w-100 {
  width: 100% !important;
}

.sv_main .bb-0 {
  border-bottom: 0 !important;
}
.sv_main .p-5{
  padding: 5px;
}
.sv_main .p-10{
  padding: 10px;
}
.sv_main .text-red{
  color: red;
}
.sv_main .align-i-center {
  align-items: center!important;
}
.sv_main .order-list{
  list-style: disc!important;
  padding-left: 50px!important;
}
.sv_main .order-list li{
  margin-bottom: 8px;
}

.sv_main .checkbox-group input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 1px;
  cursor: pointer;
}
.sv_main input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  cursor: pointer;
}

.sv_main .justify-content-end {
  justify-content: flex-end;
}

.sv_main .custom-form-control::placeholder {
  color: #000;
}

/*End new  */




/* For html page layout not neccessary for survey js form  */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 50px;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container {
    width: 1000px;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}