body {
  font-family: "Times New Roman";
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


.page-wrapper {
  padding: 50px;
}

/* new  */
.sv_main .blue-text {
  color: #3256b6;
}

.sv_main .w-50 {
  width: 50% !important;
}

.sv_main .pb-0 {
  position: relative;
  top: -5px;
}

.sv_main .lh-150 {
  line-height: 150%;
}

.sv_main .footer-nav {
  display: flex;
  justify-content: space-between;
}

.sv_main .footer-first,
.sv_main .footer-second,
.sv_main .footer-third {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.sv_main .footer-second,
.sv_main .footer-third {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sv_main .blue-border {
  border-right: 3px solid #3256b6;
}

.sv_main .custom-ml-50 {
  margin-left: 50px !important;
}

.sv_main .align-i-center {
  align-items: center !important;
}

.sv_main .justify-content-end {
  justify-content: flex-end;
}

.sv_main .custom-form-control::placeholder {
  color: #000;
}

/*End new  */




/* For html page layout not neccessary for survey js form  */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 862px;
    padding: 0 50px;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .container {
    width: 1000px;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}